#ignore the folder called build anywhere, but not files called build
build/
.DS_Store
node_modules
asset/.DS_Store
markdown/en_starter.md
markdown/section1.md
markdown/section7.md
markdown/section0.md
asset/.DS_Store
asset/.DS_Store
asset/.DS_Store
markdown/section2.md
markdown/section3.md
markdown/section4.md
markdown/section5.md
markdown/section6.md
